# Bloquear o executável compilado do Linux (colocando a barra para indicar que é o arquivo)
vsfs.exe

# Bloquear extensões de objetos e imagens de disco
*.o
*.img
*.zip

# Bloquear configurações do editor
.vscode/